---
import BaseLayout from "../layouts/BaseLayout.astro";
import CTA from "../components/CTA.vue";
---

<BaseLayout>
  <section class="main-section max-w-4xl mx-auto text-center">
    <h1>Oops!</h1>
    <p>We cannot find the page you're looking for. We're sorry!</p>
    <CTA isLink href="/">Go back to the homepage</CTA>
  </section>
</BaseLayout>
