---
import BaseLayout from "../layouts/BaseLayout.astro";
import CTA from "../components/CTA.vue";

import { createClient } from "../lib/supabase";
const middleware = Astro.locals;
const user = middleware.user;

const supabase = createClient(Astro.cookies);

const { data, error } = await supabase
  .from("profiles")
  .select("name, created_at")
  .single();
if (error) console.error(error.message);
---

<BaseLayout>
  <header>
    <h1 class="my-4">Hello, {data?.name}!</h1>
    <p>You're signed in as {user.email}</p>
  </header>

  <section class="main-section">
    <h2>Sign out</h2>
    <p>Sign out of your account.</p>

    <form action="api/auth/sign-out" method="POST">
      <CTA fill>Sign out</CTA>
    </form>
  </section>

  <section class="main-section">
    <h2 class="text-red-600">Delete account</h2>
    <p>Danger zone: deleting your account cannot be reversed.</p>

    <form action="api/auth/delete-account" method="POST">
      <CTA class="danger">Delete my account</CTA>
    </form>
  </section>
</BaseLayout>
