---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1>Uh oh...</h1>
  <p>
    Something went wrong. I don't know fucking happened just contact the website
    owner
  </p>
</BaseLayout>
