---
import BaseLayout from "../layouts/BaseLayout.astro";
const data = Astro.locals;
const user = data.user;
---

<BaseLayout>
  <h1>Guestbook</h1>
  <p>Welcome to the guestbook, {user.email}</p>
</BaseLayout>
