---
import BaseLayout from "../layouts/BaseLayout.astro";
const title = "Klrfl's Guestbook";
---

<BaseLayout title={title}>
  <main>
    <h1>Anjing</h1>
    <p>Trying out supabase and Astro together</p>
  </main>
</BaseLayout>

<style>
  main {
    padding: 2rem;
  }
</style>
