---
export const prerender = true;
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Klrfl's Guestbook";
const data = Astro.locals;
const user = data.user;
---

<BaseLayout title={title}>
  <section class="main-section text-center max-w-4xl mx-auto">
    <h1 class="text-5xl">
      {
        user ? (
          <span>Selamat datang, {user.email}</span>
        ) : (
          <span>Selamat datang!</span>
        )
      }
    </h1>
    <p>
      Soo, I (<a href="https://github.com/klrfl/">Klrfl</a>) just found out
      about the new Supabase SSR package, and decided to make this little
      guestbook app to demonstrate it. Inspired by this gorgeous <a
        href="https://github.com/kevinzunigacuellar/astro-supabase"
        >Astro X Supabase app</a
      >.
    </p>

    <h2>Now what?</h2>
    <p>I don't know, check out these links probably</p>

    <ul class="flex flex-wrap gap-4 justify-center">
      <li class="nugget">
        <a href="/guestbook">
          <p>Go sign my guestbook now!</p>
        </a>
      </li>
      <li class="nugget">
        <a href="https://klrfl.netlify.app">
          <p>See how I made this site</p>
        </a>
      </li>
      <li class="nugget">
        <a href="https://github.com/klrfl/astro-supabase">
          <p>Check out the repository for this demo site</p>
        </a>
      </li>
    </ul>
  </section>
</BaseLayout>
