---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Klrfl's Guestbook";
---

<BaseLayout title={title}>
  <h1>Anjing</h1>
  <p>Trying out supabase and Astro together</p>
</BaseLayout>
