---
import BaseLayout from "../layouts/BaseLayout.astro";
import CTA from "../components/CTA.astro";
---

<BaseLayout>
  <header>
    <h1>Register</h1>
  </header>

  <section class="main-section max-w-prose">
    <p>Already have an account? <a href="/register">sign in instead</a></p>

    <form action="api/auth/register" method="POST">
      <label for="name">Your name</label>
      <input
        type="text"
        id="name"
        name="name"
        placeholder="John Doe"
        required
      />
      <label for="email">email</label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="youremail@gmail.com"
        required
      />
      <label for="name">Password</label>
      <input
        type="password"
        id="email"
        name="password"
        placeholder="your super secret password"
        required
      />

      <CTA>register</CTA>
    </form>
  </section>
</BaseLayout>
