---
import BaseLayout from "../layouts/BaseLayout.astro";
import CTA from "../components/CTA.vue";

const title = "Klrfl's Guestbook | Sign in";
const description = "Sign in to Klrfl's Guestbook";
---

<BaseLayout {title} {description}>
  <section class="main-section max-w-4xl mx-auto">
    <h1>Sign in</h1>
    <p>don't have an account? <a href="/register">register instead</a></p>

    <form action="api/auth/sign-in" method="POST">
      <label for="email">email</label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="youremail@gmail.com"
        required
      />
      <label for="name">Password</label>
      <input
        type="password"
        id="email"
        name="password"
        placeholder="your super secret password"
        required
      />

      <CTA fill class="my-4">Sign in</CTA>
    </form>
  </section>
</BaseLayout>
