---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1>SIGN UP (ALMOST) SUCCESSFUL</h1>
  <p>Check your email to complete your sign up</p>
  <p>
    <a href="/">back to home</a>
  </p>
</BaseLayout>
