<nav>
  <ul class="nav-links">
    <li><a href="/">home</a></li>
    <li><a href="/guestbook">guestbook</a></li>
    <li><a href="/sign-in">sign in</a></li>
    <li><a href="/register">register</a></li>
  </ul>
</nav>

<style>
  .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    box-shadow: 0 5px 5px 2px #ddda;

    display: flex;
    justify-content: center;
  }

  .nav-links a {
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 1rem;
  }

  .nav-links a:hover {
    background: #ddd;
  }
</style>
