---
const user = Astro.locals.user;
---

<nav>
  <button class="open-nav">Open nav</button>

  <ul
    class="nav-links rounded-md shadow-md lg:shadow-none outline outline-2 outline-gray-200 lg:outline-none backdrop-blur absolute inset-0 bottom-auto translate-x-full invisible lg:relative lg:visible lg:translate-x-0 flex flex-col lg:flex-row transition-all"
  >
    <li class="nav-links__header bg-gray-300">
      <button class="close-nav">Close nav</button>
    </li>
    <li>
      <a class="nav-link" href="/">Home</a>
    </li>

    <li>
      <a class="nav-link" href="/guestbook">Guestbook</a>
    </li>
    {
      user ? (
        <li>
          <a class="nav-link" href="/account">
            Account
          </a>
        </li>
      ) : (
        <>
          <li>
            <a class="nav-link" href="/sign-in">
              Sign in
            </a>
          </li>
          <li>
            <a class="nav-link" href="/register">
              Register
            </a>
          </li>
        </>
      )
    }
  </ul>
</nav>

<script>
  import "../lib/navbar.js";
</script>

<style>
  nav {
    @apply flex lg:justify-center justify-between m-4 rounded-md shadow-lg relative z-10 bg-slate-200;
  }

  .open-nav,
  .close-nav {
    @apply p-4 lg:hidden;
  }

  .nav-links.active {
    @apply translate-x-0 visible;
  }
</style>
