---
const data = Astro.locals;
const user = data?.user;
---

<nav>
  <button class="open-nav">Open nav</button>

  <ul class="nav-links flex">
    <li class="nav-links__header">
      <button class="close-nav">Close nav</button>
    </li>
    <li>
      <a class="nav-link" href="/">Home</a>
    </li>

    <li>
      <a class="nav-link" href="/guestbook">Guestbook</a>
    </li>
    {
      user ? (
        <li>
          <a class="nav-link" href="/account">
            Account
          </a>
        </li>
      ) : (
        <>
          <li>
            <a class="nav-link" href="/sign-in">
              Sign in
            </a>
          </li>
          <li>
            <a class="nav-link" href="/register">
              Register
            </a>
          </li>
        </>
      )
    }
  </ul>
</nav>

<style>
  nav {
    @apply flex justify-between m-4 rounded-md shadow-lg relative z-10 bg-slate-200;
  }

  .open-nav,
  .close-nav {
    @apply hidden;
  }

  @media screen and (max-width: 50em) {
    .nav-links {
      @apply absolute inset-0 translate-x-full invisible;
    }

    .open-nav,
    .close-nav {
      @apply block p-4;
    }
  }
</style>
