---
const data = Astro.locals;
const user = data?.user;
---

<nav class="flex justify-between m-4 rounded-md shadow-lg z-10 bg-slate-200">
  <ul class="nav-links flex">
    <li>
      <a class="nav-link" href="/">Home</a>
    </li>

    <li>
      <a class="nav-link" href="/guestbook">Guestbook</a>
    </li>
    {
      user ? (
        <li>
          <a class="nav-link" href="/account">
            Account
          </a>
        </li>
      ) : (
        <>
          <li>
            <a class="nav-link" href="/sign-in">
              Sign in
            </a>
          </li>
          <li>
            <a class="nav-link" href="/register">
              Register
            </a>
          </li>
        </>
      )
    }
  </ul>

  <span>{user?.email}</span>
</nav>
